<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <title>用户注册</title>
</head>
<body>
<h1>用户注册</h1>
<div class="reg_form clearfix">
<form method="post" action="">
    {% csrf_token %}
    <ul>
        <li>
            <label>用户名:</label>
            <input type="text" name="username" id="username">
            <span class="error_tip">提示信息</span>
        </li>

        <li>
            <label>密码:</label>
            <input type="text" name="password" id="password">
            <span class="error_tip">提示信息</span>
        </li>

        <li>
            <label>确认密码:</label>
            <input type="text" name="valid_password" id="valid_password">
            <span class="error_tip">提示信息</span>
        </li>

        <li>
            <label>手机号:</label>
            <input class="mobile_phone" type="text" name="mobile_phone" id="mobile_phone">
            <span class="error_tip">提示信息</span>
        </li>

        <li>
            <label>验证码:</label>
            <input type="text" name="verification_code" id="verification_code">
            <span class="error_tip">提示信息</span>
            <input class="fetch_verification_code" type="button" name="fetch_code" value="获取验证码">
        </li>

        <li>
            <input class="register" type="submit" name="register" value="注册">
        </li>
    </ul>
     {{ errmsg }}
</form>
</div>
</body>
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script>
        //发送验证码
        $('.fetch_verification_code').click(function ()
        {

            //mobile_phone
            mobile_phone = $('.mobile_phone').val()

            csrf = $('input[name="csrfmiddlewaretoken"]').val()

            //ajax发送post请求到后端/app01/sms/
            params = {'mobile_phone':mobile_phone,'csrfmiddlewaretoken':csrf}

            $.post('/app01/sms/',params,function (data) {
                if (data.res == 1) {
                    alert('验证码已发送')
                } else {
                }
            })


        })
        </script>
</html>